<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão - Controle Patrimonial APAE</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Confirmar Exclusão</h2>
        <p>Tem certeza que deseja excluir este bem?</p>
        <button id="confirmDeleteButton" class="btn">Confirmar</button>
        <a href="lista_bens.html" class="btn">Cancelar</a>
    </div>
    <script src="static/script.js"></script>
    <script src="static/acessibilidade.js"></script>

</body>
</html>
